<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SUPERMARKET_MANAGEMENT_SYSTEM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SUPERMARKET_MANAGEMENT_SYSTEM.Properties.Settings>
            <setting name="Potatoes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Tomatoes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Apples" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Mangoes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Beef" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Chicken" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Lamb" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Fish" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Laptop" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Mobile" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Headphones" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Television" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Fridge" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Straightener" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Telephone" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Speakers" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PotatoNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TomatoNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AppleNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MangoNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BeefNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChickenNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LambNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FishNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaptopNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MobileNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HeadphoneNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TVNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FridgeNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StraightenerNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TelephoneNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeakersNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>False</value>
            </setting>
        </SUPERMARKET_MANAGEMENT_SYSTEM.Properties.Settings>
    </userSettings>
</configuration>